RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# URL rewriting for signup
RewriteRule ^signup$ index.php?action=signup [L,QSA]

# URL rewriting for login
RewriteRule ^login$ index.php?action=login [L,QSA]