RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# URL rewriting for signup
RewriteRule ^signup$ index.php?action=signup [L,QSA]

# URL rewriting for login
RewriteRule ^login$ index.php?action=login [L,QSA]

# URL rewriting for contact
RewriteRule ^contact$ index.php?action=contact [L,QSA]

# URL rewriting for productDisplay (admin)
RewriteRule ^productDisplay$ index.php?adminAction=productDisplay [L,QSA]

# URL rewriting for adminAddProduct (admin)
RewriteRule ^addProduct$ index.php?adminAction=addProduct [L,QSA]

# URL rewriting for getCategorie (admin)
RewriteRule ^getCategorie$ index.php?adminAction=getCategorie [L,QSA]

# URL rewriting for getProduct (admin)
RewriteRule ^getProduct/([0-9]+)$ index.php?adminAction=getProduct&productId=$1 [L,QSA]

# URL rewriting for updateProduct (admin)
RewriteRule ^updateProduct$ index.php?adminAction=updateProduct [L,QSA]

# URL rewriting for deleteProduct (admin)
RewriteRule ^deleteProduct$ index.php?adminAction=deleteProduct [L,QSA]

# URL rewriting for adminInformation (admin)
RewriteRule ^adminInformation$ index.php?adminAction=adminInformation [L,QSA]

# URL rewriting for adminAddInformation (admin)
RewriteRule ^adminAddInformation$ index.php?adminAction=adminAddInformation [L,QSA]

# URL rewriting for getInformation (admin)
RewriteRule ^getInformation/([0-9]+)$ index.php?adminAction=getInformation&informationId=$1 [L,QSA]

# URL rewriting for updateInformation (admin)
RewriteRule ^updateInformation$ index.php?adminAction=updateInformation [L,QSA]

# URL rewriting for deleteInformation (admin)
RewriteRule ^deleteInformation$ index.php?adminAction=deleteInformation [L,QSA]